{
	"$schema": "https://json.schemastore.org/prettierrc",
	"bracketSameLine": false,
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"printWidth": 1000,
	"singleQuote": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf"
}
